* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body,
html {
    overflow-x: hidden;
}



/* services */
.services {
    padding-top: 87px;
    padding-bottom: 300px;
    background-color: #000000;
}

.services-container {
    max-width: 1394px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.services-title {
    font-family: 'Hecativas', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 60.06px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 96px;
}

.services-col-title {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 45px;
    font-weight: 600;
    line-height: 53.7px;
    color: #000000;
    margin-bottom: 29px;
    text-align: center;
}

.services-text {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.64px;
    text-align: left;
    opacity: 46%;
    margin-bottom: 20px;
}

.services-img {
    width: 228px;
    height: 228px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}


.services-row {
    display: flex;
    align-items: start;
    justify-content: space-between;

}

.services-col {
    width: 404px;
    height: 494px;
    border-radius: 41px;
    background-color: #FFFFFF;
    padding: 36px 35px 0px 34px;
}

@media (max-width: 1256px) {
    .services-row {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }
}

@media (max-width: 780px) {
    .services-title {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 48px;
    }

    .services {
        padding-top: 50px;
        padding-bottom: 100px;
    }
}

@media (max-width: 500px) {
    .services-title {
        font-size: 35px;
        list-style: 35px;
        margin-bottom: 24px;
    }

    .services-col-title {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 15px;
    }

    .services-text {
        font-size: 18px;
        line-height: 22px;
    }

    .services-img {
        width: 180px;
        height: 180px;
    }

    .services-col {
        width: 100%;
        height: auto;
        padding: 25px 30px 20px 30px;
    }

    .services {
        padding-top: 30px;
        padding-bottom: 50px;
    }
}



/* whyus style */
.whyus {
    background-color: #FFFFFF;
    padding-top: 129px;
    padding-bottom: 70px;

}

.whyus-container {
    max-width: 1594px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.whyus-title {
    font-family: 'Hecativas', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 60.06px;
    text-align: center;
    color: #000000;
    margin-bottom: 82px;
}

.whyus-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.whyus-item {
    display: flex;
}

.whyus-img {
    display: flex;
    width: 73px;
    height: 73px;
}

.whyus-text {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 35.8px;
    text-align: left;
    max-width: 368px;
    margin-left: 12px;
}

hr {
    border: 2px dashed #878787;
    width: 0px;
    height: 234px;
}

@media (max-width: 1120px) {
    .whyus-list {
        flex-direction: column;
    }

    .whyus-text {
        max-width: 100%;
    }

    hr {
        width: 100%;
        height: 2px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media (max-width: 780px) {
    .whyus {
        padding-top: 60px;
        padding-bottom: 30px;
    }

    .whyus-title {
        font-size: 40px;
        font-weight: 700;
        line-height: 40.06px;
        text-align: center;
        color: #000000;
        margin-bottom: 40px;
    }

    .whyus-text {
        font-size: 20px;
        font-weight: 400;
        line-height: 25.8px;
    }

}

@media (max-width: 500px) {
    .whyus-img {
        display: flex;
        width: 53px;
        height: 53px;
    }

    .whyus-text {
        font-size: 18px;
        font-weight: 400;
        line-height: 23.8px;
    }

    .whyus-title {
        font-size: 35px;
        font-weight: 700;
        line-height: 35.06px;
        text-align: center;
        color: #000000;
        margin-bottom: 35px;
    }

    hr {
        border: 1.5px dashed #878787;
    }
}



/* Different style  */
.different {
    background-color: #FFFFFF;
    padding-top: 70px;
    padding-bottom: 163px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.d {
    padding-top: 300px;
    padding-bottom: 300px;
    background-color: aqua;
}

.different-container {
    max-width: 1532px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.different-title {
    font-family: 'Hecativas', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 60.06px;
    text-align: center;
    color: #000000;
    margin-bottom: 95px;
}

.different-number {
    background: linear-gradient(180deg, #FFFFFF 0%, #999999 100%);
    font-family: 'SF Pro Display', sans-serif;
    font-size: 110px;
    font-weight: 300;
    line-height: 121px;
    text-align: left;
    background-clip: text;
    color: transparent;
}

.different-text {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 29.7px;
    text-align: left;
    margin-left: 12px;
    color: white;
    max-width: 603px;
}

.different-img {
    width: 46.25px;
    height: 46.25px;
    border-radius: 50%;
    position: absolute;
    background-color: #CACACA;
    padding: 3px;
    right: -10px;
    bottom: 107px;

}

.different-list {
    list-style: none;
    gap: 35px;
    display: flex;
    flex-direction: column;
}

.different-item {
    display: flex;
    align-items: center;
    border: 1px solid #FFFFFF40;
    background-color: #000000;
    width: 747.72px;
    border-radius: 135px 50px 185px 135px;
    position: relative;
    padding: 8px 46px 8px 28px;
    z-index: 3;
}

.different-pic {
    width: 820px;
    height: 847px;
    position: absolute;
    transform: rotate(-175.88deg);
    right: -505px;
    bottom: -389px;
}

.rectangle1 {
    width: 622.05px;
    height: 1346.17px;
    border-radius: 40px;
    border: 3px 0px 0px 0px;
    transform: rotate(-37.09deg);
    background: linear-gradient(86.16deg, rgba(255, 255, 255, 0.2) 11.14%, rgba(255, 255, 255, 0.035) 113.29%);
    border: 3px solid;
    border-image-source: linear-gradient(155.31deg, rgba(255, 255, 255, 0.5) 12.33%, rgba(255, 255, 255, 0) 34.31%, rgba(255, 255, 255, 0) 52.66%, rgba(255, 255, 255, 0.54) 74.67%);
    backdrop-filter: blur(70px);
    box-shadow: 0px 1.2px 29.92px 0px #452A7C1A;
    position: absolute;
    right: -606px;
    bottom: -500px;
}

@media (max-width: 1424px) {
    .different-pic {
        width: 620px;
        height: 647px;
        right: -305px;
        bottom: -189px;
    }

    .rectangle1 {
        width: 422.05px;
        height: 1146.17px;
        right: -366px;
        bottom: -400px;
    }
}

@media (max-width: 1254px) {
    .different-pic {
        width: 620px;
        height: 647px;
        right: -405px;
        bottom: -189px;
    }

    .rectangle1 {
        width: 422.05px;
        height: 1146.17px;
        right: -466px;
        bottom: -400px;
    }
}

@media (max-width: 1120px) {
    .different-pic {
        width: 520px;
        height: 547px;
        right: -405px;
        bottom: -140px;
    }

    .rectangle1 {
        width: 400.05px;
        height: 900.17px;
        right: -450px;
        bottom: -300px;
    }
}

@media (max-width: 780px) {
    .different {
        padding-top: 30px;
        padding-bottom: 80px;
    }

    .different-title {
        font-size: 40px;
        font-weight: 700;
        line-height: 40.06px;
        text-align: center;
        color: #000000;
        margin-bottom: 40px;
    }

    .different-text {
        font-size: 20px;
        font-weight: 400;
        line-height: 25.8px;
    }

    .different-number {
        font-size: 90px;
        font-weight: 300;
        line-height: 95px;
    }

    .different-item {
        width: 100%;
    }

    .different-img {
        width: 40.25px;
        height: 40.25px;
        right: -10px;
        bottom: 87px;
    }

    .different-pic {
        width: 420px;
        height: 447px;
        right: -305px;
        bottom: -50px;
    }

    .rectangle1 {
        width: 350px;
        height: 700.17px;
        right: -350px;
        bottom: -150px;
    }

}

@media (max-width: 500px) {
    .different-text {
        font-size: 18px;
        font-weight: 400;
        line-height: 23.8px;
    }

    .different-title {
        font-size: 35px;
        font-weight: 700;
        line-height: 35.06px;
        margin-bottom: 35px;
    }

    .different-number {
        font-size: 75px;
        font-weight: 300;
        line-height: 80px;
    }

    .different-img {
        width: 30.25px;
        height: 30.25px;
        right: -10px;
        bottom: 77px;
    }
}

@media (max-width: 420px) {
    .different-text {
        font-size: 16px;
        line-height: 20px;
        margin-left: 8px;
    }

    .different-list {
        gap: 30px;
    }

    .different-item {
        border-radius: 40px;
        padding: 8px 5px 8px 5px;
    }

    .different-img {
        width: 27px;
        height: 27px;
        right: -7px;
        bottom: 77px;
    }


    .different-pic {
        width: 420px;
        height: 447px;
        right: -305px;
        bottom: -100px;
    }

    .rectangle1 {
        width: 350px;
        height: 700.17px;
        right: -350px;
        bottom: -250px;
    }
}



/* Stages style */
.stages {
    padding-top: 182px;
    padding-bottom: 210px;
    background-color: #000000;
    position: relative;

}

.stages-container {
    max-width: 1518px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.stages-title {
    font-family: 'Hecativas', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 60.06px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 114px;
    z-index: 3;
}

.stages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.stages-item {
    display: flex;
    align-items: start;
    gap: 6px;
    z-index: 3;
}

.stages-list .stages-item:nth-child(1),
.stages-item:nth-child(2),
.stages-item:nth-child(3),
.stages-item:nth-child(4),
.stages-item:nth-child(5),
.stages-item:nth-child(6) {
    margin-bottom: 74px;
}

.stages-item-left {
    width: 92px;
    height: 92px;
    background-color: #FFFFFF;
    border-radius: 11px;
}

.stages-number {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 95.47px;
    text-align: center;
    color: #000000;
}

.stages-box {
    max-width: 359px;
    background-color: #FFFFFF;
    border: 4px solid #0000001A;
    border-radius: 11px;
    padding: 16px 17px 22px 19px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.stages-subtitle {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 27px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    color: #000000;
}

.stages-text {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 18.7px;
    text-align: left;
    color: #000000;

}

.stages-subitem-text {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 18.7px;
    text-align: left;
    color: #FFFFFF;

}

.stages-subitem {
    display: flex;
    align-items: center;
    gap: 12px;
    max-width: 337px;
}

.dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: white;
}

.stages-sublist {
    list-style: none;
    padding-left: 5px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.stages-img {
    width: 187px;
    height: 251px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.stages-top {
    background: linear-gradient(86.16deg, rgba(255, 255, 255, 0.2) 11.14%, rgba(255, 255, 255, 0.035) 113.29%);
    border: 3px solid;
    border-image-source: linear-gradient(155.31deg, rgba(255, 255, 255, 0.5) 12.33%, rgba(255, 255, 255, 0) 34.31%, rgba(255, 255, 255, 0) 52.66%, rgba(255, 255, 255, 0.54) 74.67%);
    backdrop-filter: blur(70px);
    box-shadow: 0px 1.2px 29.92px 0px #452A7C1A;
    width: 409.17px;
    height: 885.5px;
    top: -163px;
    left: -200px;
    gap: 119.66px;
    border-radius: 40px;
    border: 3px 0px 0px 0px;
    opacity: 0px;
    transform: rotate(26.31deg);
    position: absolute;
    z-index: 1;
}

@media (max-width: 1420px) {
    .stages-list {
        justify-content: space-around;
    }

    .stages-list .stages-item:nth-child(9) {
        margin-top: 74px;
    }
}

@media(max-width:1120px) {
    .stages-top{
        width: 309.17px;
        height: 785.5px;
        top: -100px;
        left: -250px;
    }
    .stages-img {
        width: 137px;
        height: 201px;
        left: -30px;
    }
}

@media (max-width: 954px) {
    .stages {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .stages-title {
        margin-bottom: 70px;
    }

    .stages-list {
        justify-content: center;
        display: grid;
    }

    .stages-list .stages-item:nth-child(1),
    .stages-item:nth-child(2),
    .stages-item:nth-child(3),
    .stages-item:nth-child(4),
    .stages-item:nth-child(5),
    .stages-item:nth-child(6),
    .stages-item:nth-child(7),
    .stages-item:nth-child(8) {
        margin-bottom: 40px;
    }

    .stages-list .stages-item:nth-child(9) {
        margin-top: 0;
    }

}

@media(max-width:880px) {
    .stages-top{
        width: 259.17px;
        height: 705.5px;
        top: -90px;
        left: -250px;
    }
    .stages-img {
        width: 100px;
        height: 170px;
        left: -38px;
    }
}

@media(max-width:750px) {
    .stages-top{
        width: 259.17px;
        height: 705.5px;
        top: -90px;
        left: -300px;
    }
    .stages-img {
        width: 100px;
        height: 170px;
        left: -50px;
    }
}

@media (max-width:600px) {
    .stages-title {
        font-size: 45px;
        line-height: 45px;
    }
}

@media (max-width:500px) {
    .stages {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .stages-title {
        font-size: 35px;
        line-height: 35px;
        margin-bottom: 35px;
    }

    .stages-list .stages-item:nth-child(1),
    .stages-item:nth-child(2),
    .stages-item:nth-child(3),
    .stages-item:nth-child(4),
    .stages-item:nth-child(5),
    .stages-item:nth-child(6),
    .stages-item:nth-child(7),
    .stages-item:nth-child(8) {
        margin-bottom: 25px;
    }

    .stages-item-left {
        width: 60px;
        height: 60px;

    }

    .stages-number {
        font-size: 55px;
        line-height: 60px;
        font-weight: 600;
    }

    .stages-box {
        padding: 15px;
        width: 100%;
    }

    .stages-subtitle {
        font-size: 20px;
        line-height: 20px;
    }

    .stages-item-right {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .stages-top{
        width: 200.17px;
        height: 705.5px;
        top: -90px;
        left: -300px;
    }
    .stages-img {
        width: 80px;
        height: 150px;
        left: -100px;
        top: -20px;
    }

}

@media (max-width: 420px) {
    .stages-item-left {
        width: 55px;
        height: 55px;

    }

    .stages-number {
        font-size: 40px;
        line-height: 55px;
        font-weight: 600;
    }
}